
@{
    ViewBag.Title = "Index";
}

<h2>File Upoading</h2>

<form action="/Admin/save" method="post" enctype="multipart/form-data">
    Upload Image: <input type="file" name="image" />
    <input type="url" name="song" />


    <input type="submit" value="upload" />
</form>



