
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musicstore a Entertainment Category Flat Responsive web template | Favorites :: W3layouts</title>
    <link href="~/content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/content/responsiveslides.css">
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/content/flexslider.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/imagezoom.js"></script>
    <script src="~/Scripts/jquery-1.6.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="../js/jquery-2.1.4.js"></script>
</head>
<body>
    <!---start-wrap--->
    <div class="wrap">
      <br>
        <div class="content">
            <div class="products-box">
                <div class="products">
                    <h5><span>Our </span>Favourites</h5>
                    <div class="section group">
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h1.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$512.00</h4>
                            <div class="button"><span><a href="../SinglePage/singlepage">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h2.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$300.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h3.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$120.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h4.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$500.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h5.jpg">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$120.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="products products-secondbox">
                    <h5><span>Our</span> Specials</h5>
                    <div class="section group">
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h3.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$600.00</span>$512.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h2.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$400.00</span>$352.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/g7.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$300.00</span>$202.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h1.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$400.00</span>$322.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h5.jpg">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$700.00</span>$602.00</h4>
                            <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!---End-wrap--->
</body>
</html>

