

@{
    ViewBag.title = "Add";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form action="/EFWChecking/AddUsers" method="post">
        name:<input type="text" name="name" />
        <input type="submit" value="AddUser" />

    </form>
</body>
</html>
